@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";

@import "css-circular-prog-bar.css";
$backgroundColor: orange;
.backgroundColor {
  background-color: $backgroundColor;
}
* {
  box-sizing: border-box;
}
header {
  background-color: blue;
  min-height: 50vh;
}
.list-group {
  list-style-type: none;
}
// .twitter {
//   @extend %fa-icon;
//   @extend .fab;

//   &:before {
//     content: fa-content($fa-var-twitter);
//   }
// }
.text-center {
  @extend .backgroundColor;
  text-align: center;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}
